---
title: Guest Lecture - Growth
desc: Guest lecture on the topic of Growth
homework: 1) Teams work on hypotheses; 2) Readings about growth and warmup questions
cat: Revenue
---
<%= homework_hdr %>
* Teams focus on hypotheses: List hypotheses in each category. Check to see if you can imagine an experiment that would test them. Place them in priority order. Note which ones are leap of faith. Conduct some experiments to check them. <%= team_deliverable("Submit to latte your list of hypotheses as a pdf") %>
* From Yoav: Growth metrics and measurement and "Growth Hacking". Please read the following two articles:
  * http://www.paulgraham.com/growth.html
  * http://techcrunch.com/2011/07/30/vanity-metrics/
  * https://en.wikipedia.org/wiki/Growth_hacking
  * http://andrewchen.co/how-to-be-a-growth-hacker-an-airbnbcraigslist-case-study/
  <%= deliverable "Locate and answer the warmup questions in Latte" %>
* From Yoav: Twitter case study. Please read this article: http://revenuesandprofits.com/twitter-business-analysis-q215/. Prepare a response to this question: "If you were twitter's CEO, what would you do to grow faster?". You may be called on to give your response.

#### Guest Lecturer
* Here are the slides: <%= link_to_doc "Yoav's Slides: Growth", "20151020-growth.pdf" %>
* Our speaker today is Yoav Shapira. You can find [information about Yoav on LinkedIn.](https://www.linkedin.com/profile/view?id=AAkAAAAFXZsBrM07bLcPh7RTJjTYVAXzbWPYCAo)

<hr>

<a class="embedly-card" href="https://www.linkedin.com/in/yoavshapira">Yoav Shapira | LinkedIn</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
