---
title: "Guest Lecture: Starting"
desc: "Guest Lecture: Getting ideas, figuring out the good idea, ditching the bad"
homework: 1) Pilot projects perform some out of the building experiments; 2) "Read How to start a startup" and answer warmups
cat: Hypotheses
---
<%= homework_hdr %>
1. <%= timebadge %> <%= partbadge %> Read [How to start a startup](http://startupclass.samaltman.com/courses/lec01/) (or watch the video, but if you do, don't miss the transcript comments). <%= deliverable "Do the warmup quiz in Latte"%>
1. <%= partbadge %> Pilot Project Teams: Review and add to your plans; update your Pilot Project Report; Design and perform at least two out of the building experiments, making sure they are responsive to a specific hypothesis. You can dole out the work to team members or do them together, whatever you prefer. You are now at Draft 3 of the Pilot Project Report.

#### Guest Lecturer

* Our speaker today is Reed Sturtevant. You can find [information about Reed on LinkedIn.](https://www.linkedin.com/in/reedsturtevant). You might ask him to link to you on linkedIn!
<a class="embedly-card" href="https://www.linkedin.com/in/reedsturtevant">Bill  Wittenberg | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>


#### Next Class
* Look at homework: <%= link_to_next_lecture %>
